$submitNoHover: rgb(40, 168, 40);
$submitWithHover: rgb(33, 143, 33);

$resetNoHover: rgb(40, 117, 168);
$resetWithHover: rgb(33, 92, 161);

$logoutNoHover: rgb(132, 40, 168);
$logoutWithHover: rgb(125, 15, 161);

$deleteNoHover: rgb(224, 50, 80);
$deleteWithHover: rgb(217, 25, 73);

@mixin transition($x...) {
  transition: $x;
}

@mixin hover($x, $y...) {
  background-color: $x;
  color: white;
  &:hover{
    background-color: $y;
    box-shadow: 0px 0px 2px 2px $y;
  }
}

.btn {
  min-width: 100px;
  max-width: 150px;
  margin: 10px auto 0px;
  height: 40px;
  font-weight: 700;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px white;
  @include transition(box-shadow 1s ease-out, background-color 1s ease-out) ;
}

@media (width <= 900px) {
  .btn {
    width: 200px;
    min-height: 40px;
    font-weight: normal;
    font-size: medium;
  }
}

.reset {
  @include hover($resetNoHover, $resetWithHover)
}

.submit {
  @include hover($submitNoHover, $submitWithHover)
}

.logout {
  @include hover($logoutNoHover, $logoutWithHover)
}

.delete {
  @include hover($deleteNoHover, $deleteWithHover)
}