$submitNoHover: rgb(40, 168, 40);
$submitWithHover: rgb(33, 143, 33);

$resetNoHover: rgb(40, 117, 168);
$resetWithHover: rgb(33, 92, 161);

$buttonNoHover: rgb(132, 40, 168);
$buttonWithHover: rgb(125, 15, 161);

@mixin transition($x...) {
  transition: $x;
}

@mixin hover($x, $y...) {
  background-color: $x;
  color: white;
  &:hover{
    background-color: $y;
    box-shadow: 0px 0px 2px 2px $y;
  }
}

.btn {
  width: 100px;
  margin: 10px auto 0px;
  height: 40px;
  font-weight: 700;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px white;
  @include transition(box-shadow 1s ease-out, background-color 1s ease-out) ;
}

.reset {
  @include hover($resetNoHover, $resetWithHover)
}

.submit {
  @include hover($submitNoHover, $submitWithHover)
}

.button {
  @include hover($buttonNoHover, $buttonWithHover)
}