$navBackground: rgb(219, 219, 219);
$navActive: rgb(255,255,255);
$navHover: rgba(245,245,215, 0.8);


.wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 58px);
}

.contactList {
  max-width: 40vw;
  min-width: 25vw;
  background-color: $navBackground;
  overflow: auto;
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  & li {
    margin: 10px;
  }
  & a {
    text-decoration: none;
    font-size: 1.2em;
    border: 1px solid $navBackground;
    border-radius: 5px;
    display: flex;
    padding: 0.5rem;
    color: black;
    &:hover {
      background-color: $navHover;
      border: 1px solid $navHover;
    }
  }
}

.drag {
  border-left: 2px solid black;
  cursor: e-resize;
}

.active {
  background-color: $navActive;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  & button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: rgb(224, 224, 224);
      box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    }
    &:active {
      box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
      transform: translateY(1px);
    }
  }
}

.edit {
  color: #3992ff;
}

.delete {
  color: #ff394a;
}