.wrapper {
  background-color: white;
  height: calc(100vh - 58px);
}
.title {
  margin: 0px;
  padding-top: calc((100vh - 58px)/5);
  text-align: center;
}
.form {
  width: 50%;
  margin: 0px auto;
  min-width: 100px;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.footer {
  text-align: center;
}

@media (width <= 500px) {
  .form {
    width: 90%;
  }
}