.navigation {
  background-color: rgb(35, 170, 211);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px;
}
@mixin link {
  text-decoration: none;
  
}
.linkNotActive {
  @include link();
  color: rgba(255, 255, 255, 0.5);
}
.linkActive {
  @include link();
  color: white;
}

@media (width <= 500px) {
  .navigation {
    padding: 20px 50px;
  }
}