.wrapper {
  width: 100%;
  background-color: white;
  height: calc(100vh - 58px);
}
.section {
  font-size: 1.2rem;
  width: 60%;
  margin: 0px auto;
  text-align: center;

}
.header {
  margin: 0px;
  padding-top: calc((100vh - 58px)/10);
}
.section span {
  font-weight: bold;
  color: #5356f8
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list {
  text-align: left;
}

@media (width <= 500px) {
  .section {
    width: 100%;
  }
}