.section {
  width: 60%;
  margin: 50px auto;
  font-size: 1.2rem;
  text-align: center;
}
.section span {
  font-weight: bold;
  color: #5356f8
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list {
  text-align: left;
}

@media (width <= 500px) {
  .section {
    width: 100%;
  }
}