.wrapper {
  background-color: white;
  height: calc(100vh - 58px);
}
.header {
  margin: 0px;
  text-align: center;
  padding-top: calc((100vh - 58px)/5);
}
.form {
  width: 50%;
  margin: 0px auto;
  min-width: 100px;
}

.btns {
  max-width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}

@media (width <= 900px) {
  .form {
    width: 90%;
  }
  .btns {
    max-width: 90%;
  }
}

@media (width <= 600px) {
  .btns {
    display: flex;
    flex-direction: column;
  }
}